@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Lora:ital,wght@0,400..700;1,400..700&family=Titillium+Web&display=swap');
:root {
    --primary-color: #473144;
    --secondary-color: #AF1B3F;
    --accent-color: #EFC69B;
    --primary-font: Helvetica, Arial, sans-serif;
    --secondary-font: Lora, Impact, serif;
    }
#title {
    justify-self: center;
    color: var(--primary-color);
}
#menu {
    display: grid;
    grid-template-columns: 75px 75px 75px;
    justify-content: end;
}
    #menu a {
        text-align: center;
        color: var(--secondary-color);
        text-decoration: none;
    }

hr {
    border: 1px solid var(--accent-color);
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 50px;
}
    #stuff {
        grid-column: 1 / 4;
    }
        .article {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 50px;
            padding: 25px 0px 25px 0px
            
        }

            .info {
                grid-column: 1 / 2;
                color: var(--primary-color);
                justify-items: end;
                border-right: solid #EFC69B;
            }

                .date {
                    font-size: 1.15rem;
                    margin: 10px 10px 10px 0px;
                }

                .age {
                    margin: 10px 10px 10px 0px;
                }

                .genre {
                    margin: 10px 10px 10px 0px;
                }

                .rating {
                    margin: 10px 10px 10px 0px;
                }

        .review {
            grid-column: 2 / 4;
        }

            .bookTitle {
                color: var(--secondary-color);
            }

            .review img {
                display: flex;
                justify-self: center;
            }

            .description {
                color: var(--primary-color);
            }

    #filters {
        grid-column: 4 / 5;
        color: var(--primary-color);
        border: solid #EFC69B;
    }

footer {
    justify-self: center;
}